{% extends 'base.html.twig' %}

{% block title %}Modifier {{ animal.nom }}{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold text-center mt-8">Modifier {{ animal.nom }}</h1>
    
    <div class="max-w-3xl mx-auto mt-8">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="bg-green-600 text-white px-4 py-2 rounded mt-4">Enregistrer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
